USE [assignment]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 8/12/2023 4:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[ticket_cost] [int] NULL,
	[genre] [varchar](50) NULL,
	[artist] [varchar](50) NULL,
	[date] [date] NULL,
	[time] [varchar](30) NULL,
	[venue] [varchar](100) NULL,
	[city] [varchar](100) NULL,
	[description] [varchar](500) NULL,
	[Concert_Id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Concert_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([ticket_cost], [genre], [artist], [date], [time], [venue], [city], [description], [Concert_Id]) VALUES (55, N'Country', N'Keith Urban', CAST(N'2023-07-20' AS Date), N'18:30', N'Scotiabank Saddledome', N'Calgary', N'Join Keith Urban for an evening of country music magic. Sing along to his greatest hits and experience his signature guitar solos live.', 1)
INSERT [dbo].[Event] ([ticket_cost], [genre], [artist], [date], [time], [venue], [city], [description], [Concert_Id]) VALUES (75, N'Pop', N'Taylor Swift', CAST(N'2023-07-15' AS Date), N'20:00', N'Madison Square Garden', N'New York City', N'Taylor Swift brings her chart-topping hits and captivating stage presence to Madison Square Garden. Get ready for an incredible night!', 2)
INSERT [dbo].[Event] ([ticket_cost], [genre], [artist], [date], [time], [venue], [city], [description], [Concert_Id]) VALUES (95, N'Rock', N'Foo Fighters', CAST(N'2023-07-01' AS Date), N'19:00', N'Rogers Centre', N'Toronto', N'The Foo Fighters are back with their high-energy rock performance. Don''t miss this unforgettable night of music!', 3)
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
